<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible">
	<title>Project Allotment Portal, MNNIT</title>

	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:100,300,400">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/toggle.css">
	<!-- for debugging css / ghost code -->
	<!-- <style>
		* { background: #000 !important; color: #0f0 !important; outline: solid #f00 1px !important; }
	</style> -->


</head>

<body>


	<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top" id="mainNav">
		<div class="container">
			<!-- hamburger button for smaller screens -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a class="navbar-brand" href="#"><img src="/static/images/motilal_square.png" height="40" width="40"></a>
			<a href="#" class="navbar-brand __title mr-auto">
				<strong>Welcome</strong>, Admin
			</a>

			<!-- navbar buttons -->
			<div class="collapse navbar-collapse justify-content-end" id="navbarContent">
				<ul class="nav nav-pills row">
					<li class="nav-item mr-3"><a class="nav-link" data-toggle="pill" href="#all_students">All Students</a></li>
					{% if WAS_AT == "controls" %}
					<li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#manageUsers">Mentors</a></li>
					<li class="nav-item mr-5"><a class="nav-link active" data-toggle="pill" href="#portControls">Controls</a></li>
					<li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#result">Result</a></li>
					{% elif WAS_AT == "result" %}
					<li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#manageUsers">Mentors</a></li>
					<li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#portControls">Controls</a></li>
					<li class="nav-item mr-5"><a class="nav-link active" data-toggle="pill" href="#result">Result</a></li>
					{% else %}
					<li class="nav-item mr-5"><a class="nav-link active" data-toggle="pill" href="#manageUsers">Mentors</a></li>
					<li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#portControls">Controls</a></li>
					<li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#result">Result</a></li>
					{% endif %}
					
				</ul>
			</div>

			<!-- logout button : create a form if required -->
			<form class="form-inline mr-2 my-2" action="/logout" method="POST">
				<button id="loginbtn" class="btn btn-logout float-right">Log Out</button>
			</form>
		</div>
	</nav>

	<!-- portal image and name -->
	<header class="jumbotron" style="background-image: url(/static/images/jumbo.jpg); background-size: 100%;">
		<div class="container p-5">
			<h1>MNNIT Allahabad</h1>
			<p class="h4">Portal for Project Allotment</p>
			<p>Using the concept behind stable marriage problem to assign projects to students, such that the assignment is
				stable between students and faculty members</p>
		</div>
	</header>


	<!-- MAIN CONTENT BEGINS -->
	<!-- MAIN CONTENT BEGINS -->
	<!-- MAIN CONTENT BEGINS -->
	<!-- MAIN CONTENT BEGINS -->
	<div class="tab-content">

		<!-- home page -->
		<!-- <div id="home" class="container mt-5 tab-pane active">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="card">
						<h4 class="card-header">Preferences</h4>
						<div class="card-body">
							<form action="/submit" method="POST" enctype="multipart/form-data">
								<div class="form-row form-group">
									<label for="student" class="col-md-2 col-form-label">Student : </label>
									<div class="col-md-10">
										<input type="file" accept=".json" name="student">
									</div>
								</div>

								<div class="form-row form-group">
									<label for="teacher" class="col-md-2 col-form-label">Teacher : </label>
									<div class="col-md-10">
										<input type="file" accept=".json" name="teacher">
									</div>
								</div>

								<div class="form-row form-group">
									<label for="members" class="col-md-2 col-form-label">Group Members : </label>
									<div class="col-md-10">
										<input type="file" accept=".json" name="members">
									</div>
								</div>

								<div class="form-group row">
									<div class="offset-md-2 col-md-10">
										<button type="submit" class="btn btn-primary">Send Preferences</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div id="all_students" class="container mt-5 tab-pane fade">
			<div class="card-deck justify-content-center">
				{% if num_of_slots == 0 %}
				<div class="card text-center shadow-lg">
					<div class="card-body p-2 bg-danger">
						<h3 class="p-5 text-white m-0">No users in Database</h3>
					</div>
				</div>
				{% else %}
				<div class="col-12 col-md-6">
					<div class="card mb-4 shadow-lg border-dark">
						<div class="card-body p-0">
							<h3 class="card-title m-3 text-right">Slotter #1</h3>
							<div class="panel panel-default" style="border-top: 1px solid black">
								<table class="table table-bordered m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col" width="5%">#</th>
											<th scope="col" width="20%">Reg. No.</th>
											<th scope="col" width="30%">Name</th>
											<th scope="col" width="5%">CPI</th>
										</tr>
									</thead>
									<tbody>
										{% for usrObj in DB_user_list %}
										
										{% if usrObj.isGroupFinal == "final" %}
											{% set clas_name = "table-danger" %}
										{% elif usrObj.isGroupFinal == "reqsent" %}
											{% set clas_name = "table-warning" %}
										{% else %}
											{% set clas_name = "table-success" %}
										{% endif %}
										
										{% if usrObj.myslot == 1 %}
										<tr class="{{clas_name}}">
											<td> {{loop.index}}</td>
											<td> {{usrObj.username}} </td>
											<td>{{usrObj.name}}</td>
											<td>{{usrObj.cpi}}</td>
										</tr>
										{% endif %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% for slot_num in range(2,num_of_slots+1)%}
				<div class="col-12 col-md-6">
						<div class="card mb-4 shadow-lg border-dark">
							<div class="card-body p-0">
								<h3 class="card-title m-3 text-right">Slotter #{{slot_num}}</h3>
								<div class="panel panel-default" style="border-top: 1px solid black">
									<table class="table table-bordered m-0">
										<thead class="thead-light">
											<tr>
												<th scope="col" width="5%">#</th>
												<th scope="col" width="20%">Reg. No.</th>
												<th scope="col" width="30%">Name</th>
												<th scope="col" width="5%">CPI</th>
												<th scope="col" width="30%">Leader Reg</th>
											</tr>
										</thead>
										<tbody>
											{% for usrObj in DB_user_list %}
											
											{% if usrObj.isGroupFinal == "final" %}
												{% set clas_name = "table-danger" %}
											{% elif usrObj.isGroupFinal == "reqsent" %}
												{% set clas_name = "table-warning" %}
											{% else %}
												{% set clas_name = "table-success" %}
											{% endif %}
											
											{% if usrObj.myslot == slot_num %}
											<tr class="{{clas_name}}">
												<td> {{loop.index}}</td>
												<td> {{usrObj.username}} </td>
												<td>{{usrObj.name}}</td>
												<td>{{usrObj.cpi}}</td>
												<td>
													{% if usrObj.isGroupFinal != "req_notsent" %}
													{{ usrObj.leader }}
													{% endif %}
												</td>
											</tr>
											{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
				</div>
				{% endfor %}
			</div>
		</div>
	

		<!-- manage users page -->
		<div id="manageUsers" class="container tab-pane fade">

			<div class="row">
				<h2>Faculty Registeration</h2>
			</div>

			<div class="row">
				<div class="col-12">
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					{% for category,message in messages %}
				{% if category == "teacher"%}
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
					</div>
					{% endif %}
					{% endfor %}
					{% endif %}
					{% endwith %}
				</div>
			</div>
			<div class="row">
				<div class="card-deck col-12">
					<!-- create teacher -->
					<div class="card mb-4 border-success shadow-lg">
						<div class="card-body">
							<h4 class="my-0 mb-5 font-weight-light">Add New Faculty</h4>
							<form action="/createTeacher" method="POST">
								<div class="container">
									<div class="form-group row">
										<div class="col-12">
											<input type="text" class="form-control shadow-sm" name="teacher_fullname" placeholder="Prof. First Last name" required>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12">
											<input type="email" class="form-control shadow-sm" name="teacher_username" placeholder="Email Address" required>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12">
											<label for="projectList" class="col-form-label">Enter <strong>one project per line</strong> under this
												faculty member</label>
											<textarea class="form-control shadow-sm" rows="3" name="projectList" class="form-control-plaintext" placeholder="number of projects also represents number of groups under this faculty"
											 required></textarea>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12">
											<input type="password" class="form-control shadow-sm" name="teacher_password" placeholder="New Password" required>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12">
											<input type="password" class="form-control shadow-sm" name="re_password" placeholder="Retype Password" required>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12">
											<input type="hidden" name="wasAt" value="manageusers">
											<button type="submit" class="btn btn-outline-success btn-lg float-right">Add</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<!-- delete Teacher -->
					<div class="card mb-4 border-danger shadow-lg">
						<div class="card-body">
							<h4 class="my-0 mb-5 font-weight-light">Delete Previous Faculty</h4>
							<form action="/deleteTeacher" method="POST">
								<div class="container">
									<div class="form-group row">
										<div class="col-12">
											<input type="email" class="form-control" name="teacher_username" placeholder="Mentor's email address"
											 required>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12">
											<input type="hidden" name="wasAt" value="manageusers">
											<button type="submit" class="btn btn-outline-danger btn-lg float-right">Delete</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-between">
				<div class="card-deck col-12">
					<div class="card">
						<h4 class="card-header">Registered Faculty</h4>
						<div class="card-body p-0">
							<table class="table m-0">
										<thead class="thead-light">
											<tr>
												<th scope="col">#</th>
												<th scope="col">Email</th>
												<th scope="col">Name</th>
											</tr>
										</thead>
										<tbody>
											{% for teacher in DB_teacher_list %}
											{% if teacher.isPrefFinal == true %}
											<tr class="bg-success">
												{% else %}
											<tr class="bg-danger">
												{% endif %}
												<td> {{loop.index}} </td>
												<td> {{teacher.username}} </td>
												<td> {{teacher.name}} </td>
											</tr>
											{% endfor %}
										</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	
		</div>
		
		<!-- portal controls page -->
		<div id="portControls" class="container tab-pane fade">

			<div class="row">
				<h2>Portal Controls</h2>
			</div>

			<div class="row">
				<div class="card-deck col-12">
					<!-- login status -->
					<div class="card">
						<h4 class="card-header">Status</h4>
						<div class="card-body">
							<form class="form" action="/togglePortal" id="toggle-form" method="POST">
								<div class="container">
									<div class="form-group row justify-content-between">
										<div class="col-4 align-self-center">
											<label class="col-form-label">Login Status :</label>
										</div>
										<div class="col-4 align-self-center">
											<label class="switch">
												<input type='hidden' id="toggle-switch-off" value='off' name='portalSwitch'>
												{% if login_status == true %}
												<input type="checkbox" id="toggle-switch-on" name="portalSwitch" checked>
												{% else %}
												<input type="checkbox" id="toggle-switch-on" name="portalSwitch">
												{% endif %}
												<div class="slider round">
													<span class="on">ON</span>
													<span class="off">OFF</span>
												</div>
											</label>
										</div>
										<div class="col-4 align-self-center">
											<input type="hidden" name="wasAt" value="controls">
											<button type="submit" class="btn btn-outline-primary float-right mt-4 mb-4">Save</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<!-- upload user list -->
					<div class="card">
						<h4 class="card-header bg-dark text-white">Upload User List</h4>
						<div class="card-body">
							<div class="container">
								<div class="form-group row">
									<p class="text-muted">*Upload the csv file with the following columns, without headers</p>
									{% with messages = get_flashed_messages(with_categories=true) %}
									{% if messages %}
									{% for category,message in messages %}
									{% if category == "upload_users"%}
									<div class="alert alert-danger alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										{{message}}
									</div>
									{% endif %}
									{% endfor %}
									{% endif %}
									{% endwith %}
									<table class="table pl-0 pr-0">
										<thead class="thead-default">
											<th>Reg. No</th>
											<th>Full Name</th>
											<th>CGPA</th>
										</thead>
									</table>
								</div>
								<form class="form" action="/uploadUsers" method="POST" enctype="multipart/form-data">
									<div class="form-group row">
										<div class="col-8 text-right">
											<label class="col-form-label">Enter Number of Groups :</label>
										</div>
										<div class="col-4">
											<input class="form-control" type="number" name="num_of_groups" required>
										</div>
									</div>
									<div class="form-group row pt-3">
										<div class="col-6">
											<label class="btn btn-outline-dark">
												Select File <input id="file-upload" type="file" accept=".csv" name="upload_file" hidden required>
											</label>
											<!-- TODO show filename here using JS -->
										</div>
										<div class="col-6 text-right">
											<input type="hidden" value="controls" name="wasAt" hidden>
											<button type="submit" class="btn btn-outline-dark">Upload</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-deck col-12">
					<div class="card">
						<h4 class="card-header">Set Deadline</h4>
						<div class="card-body">
							<form action="/setDeadline" method="POST">
								<div class="form-group row justify-content-between m-0">
									<div class="container">
										<div class="form-group row justify-content-between m-0">
											<div class="col-8  col-md-4 align-self-center">
												<label for="deadline" class="col-form-label">Enter Deadline for current session :</label>
											</div>
											<div class="col-4 col-md-4 align-self-center">
												<input type="datetime-local" id="deadline" name="new_deadline" class="form-control" class="form-control shadow-sm" required>
											</div>
											<div class="col-12 col-md-4 align-self-center">
												<input type="hidden" name="wasAt" value="controls">
												<button type="submit" class="btn btn-outline-secondary float-right mt-4 mb-4">Set Deadline</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-deck col-12">
					<!-- current project list -->
					<div class="card border-info">
						<h4 class="card-header bg-info text-white">Current Project List</h4>
						<div class="card-body p-0">
								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category,message in messages %}
								{% if category == "project_pref"%}
								<div class="alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									{{message}}
								</div>
								{% endif %}
								{% endfor %}
								{% endif %}
								{% endwith %}
							<div class="container">
								<div class="row">
									<table class="table">
										<thead class="thead-light">
											<tr>
												<th scope="col">#</th>
												<th scope="col">Faculty Name</th>
												<th scope="col">Project Name</th>
											</tr>
										</thead>
										<tbody>
											{% for idx,prj_tuple in DB_current_projects.items()%}
											<tr>
												<td> {{idx}} </td>
												<td> {{prj_tuple[0]}} </td>
												<td> {{prj_tuple[1]}} </td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<form action="/resetProjectList" method="POST">
											<input type="hidden" name="wasAt" value="controls">
											<button type="submit" class="btn btn-outline-info float-right mb-3">Reset Project List</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- current first slotters list -->
					<div class="card border-warning">
							<h4 class="card-header bg-warning text-white" id="userHeading">Registered Group Leaders</h4>
							<div class="card-body p-0">
								<table class="table m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Reg. No</th>
											<th scope="col">1st Slotter's Name</th>
											<th scope="col">CGPA</th>
											<th scope="col">Group Size</th>
										</tr>
									</thead>
									<tbody>
										{% for user in DB_leader_list %}
										{% if user.isGroupFinal == "final" and user.isPrefFinal == true%}
										<tr class="table-success">
											{% else %}
										<tr class="table-danger">
											{% endif %}
											<td> {{loop.index}} </td>
											<td> {{user.username}} </td>
											<td> {{user.name}} </td>
											<td> {{user.cpi}} </td>
											<td> {{user.group_size}} </td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-deck col-12">
					<!-- set admin password -->
					<div class="card border-success">
						<h4 class="card-header bg-success text-white">Set Admin Password</h4>
						<div class="card-body">
							<div class="container">
								<form action="/setAdminPassword" method="POST">
									<div class="form-group row">
										<div class="col-12 align-self-center">
											<label for="newPass" class="col-form-label text-secondary">New Password</label>
											<input type="password" name="newPass" id="newPass" class="form-control" required>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-12 align-self-center">
											<label for="confNewPass" class="col-form-label text-secondary">Confirm Password</label>
											<input type="password" name="confNewPass" id="confNewPass" class="form-control" required>
										</div>
									</div>
									<div class="form-group row align-content-end">
										<div class="col-12">
											<span id='passMatch'></span>
											<input type="hidden" name="wasAt" value="controls">
											<button type="submit" class="btn btn-outline-success btn-block float-ri">Change</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- do computation -->
					<div class="card border-primary">
						<h4 class="card-header bg-primary text-white">Compute Results</h4>
						<div class="card-body">
							<form action="/computeResult" method="POST">
								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category,message in messages %}
								{% if category == "warning" or category == "danger" or category == "success" %}
								<div class="alert alert-{{category}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									{{message}}
								</div>
								{% endif %}
								{% endfor %}
								{% endif %}
								{% endwith %}
								<div class="container">
									<div class="form-group row">
										<div class="col-12">
											<label for="resultButton" class="col-form-label text-primary">
												Compute Final Result using Stable Marriage
												Hypothesis, only after deadline
											</label>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-12">
											<input type="hidden" name="wasAt" value="controls">
											<button type="submit" class="btn btn-primary btn-lg btn-block float-right float-right" id="resultButton">Compute</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Reset portal-->
			<div class="row">
				<div class="card-deck col-12">
					<div class="card border-danger">
						<h4 class="card-header text-white bg-danger">Reset Portal</h4>
						<div class="card-body">
							<div class="container">
								<form action="/resetPortal" method="POST">
									<div class="form-group row justify-content-between">
										<div class="col-md-8">
											<label for="resetButton" class="text-danger col-form-label-lg">CAUTION!! THIS ACTION IS IRREVERSIBLE</label>
											<p class="text-muted text-danger">New admin credentials will be :</p>
											<div class="row">
												<div class="col-5">
													<label class="col-form-label float-right">Username : </label>
												</div>
												<div class="col-4">
													<input class="form-control" type="text" placeholder="admin" readonly>
												</div>
											</div>
											<div class="row">
												<div class="col-5">
													<label class="col-form-label float-right">Password : </label>
												</div>
												<div class="col-4">
													<input class="form-control" type="text" placeholder="admin" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 align-self-center text-center">
											<input type="text" name="resetDATABASE" value="true" hidden>
											<button type="submit" class="btn btn-danger m-4" id="resetButton">RESET DATABASE </button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<!-- result page -->
		<div id="result" class="container mt-5 tab-pane fade">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="card">
						<h4 class="card-header bg-primary text-white">Result</h4>
						{% if DB_result_declared == true %}
						<div class="card-body p-0">
							<table id="printThis" class="table table-bordered m-0">
								<thead class="thead-dark">
									<th>Grp#</th>
									<th>Name</td>
									<th>Reg. No. </th>
									<th>members </th>
									<th>Mentor</th>
								</thead>
								<tbody>
									{% for usr in DB_leader_list %}
									<tr>
										<td>{{loop.index}}</td>
										<td>{{usr.username}}</td>
										<td>{{usr.name}}</td>
										<td class="p-0">
											<table class="table table-borderless m-0" style="width: 100%">
												{% for slot,mem_tuple in usr.getMembers().items()|sort()%}
												<tr>
													<td width="10%" style="border-top: 1pt solid lightgray">{{slot}}</td>
													<td width="40%" style="border-top: 1pt solid lightgray">{{mem_tuple[0]}}</td>
													<td width="50%" style="border-top: 1pt solid lightgray">{{mem_tuple[1]}}</td>
												</tr>
												{% endfor %}
											</table>

										</td>
										<td>
											<p class="text-dark">
												{{usr.Mentor.split('__')[0]}}
											</p>
											<p class="text-primary text-muted">
												{{usr.Mentor.split('__')[1]}}
											</p>

										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% else %}
						<div class="card-footer">
							<blockquote class="blockquote text-center text-muted">Not Computed</blockquote>
						</div>
						{% endif %}
						{% if DB_result_declared == true %}
						<div class="row justify-content-center align-content-center">
							<div class="mt-5 mb-5" style="align-content: center">
								<button class="btn btn-primary" onclick="printDiv('printThis')" style="align-self: center">Print</button>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- MAIN CONTENT ENDS -->
	<!-- MAIN CONTENT ENDS -->
	<!-- MAIN CONTENT ENDS -->
	<!-- MAIN CONTENT ENDS -->

	<footer class="footer bg-light">
		<div class="container">
			<div class="row justify-content-center pt-3 pl-3 pr-3 mt-5">
				<div class="col-12 text-center">
				  <p class="text-muted">Designed and Developed By Dipunj Gupta under Dr. Suneeta Agarwal's guidance</p>
				</div>
			</div>
			<div class="row justify-content-center mt-1">             
				<div class="col-auto">
					<p class="text-muted">© Copyright 2018 MNNIT Allahabad</p>
				</div>
			</div>
		</div>
	</footer>

</body>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/popper.js/dist/popper.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/static/js/main.js"></script>

<script>
$(document).ready(function(){

	{% if WAS_AT == "controls" %}
	$("#portControls").addClass("active")
	$("#portControls").removeClass("fade")
	{% elif WAS_AT == "result" %}
	$("#result").addClass("active")
	$("#result").removeClass("fade")
	{% else %}
	$("#manageUsers").addClass("active")
	$("#manageUsers").removeClass("fade")
	{% endif %}
});
</script>


<script>
	function printDiv(divName){
		var printContents = document.getElementById(divName).innerHTML;
		var originalContents = document.body.innerHTML;
		document.body.innerHTML = printContents;
		window.print();
		document.body.innerHTML = originalContents;
	}
</script>

</html>