<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MNNIT Allahabad, P.A.P</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/js/main.js"></script>
</head>

<body>

</body>

</html>


<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
            <!-- hamburger button for smaller screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="#" class="navbar-brand __title mr-auto">
                <strong>Welcome</strong>, Manmeet
            </a>

            <!-- navbar buttons -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="nav nav-pills row">
                    <li class="nav-item mr-5">
                        <a class="nav-link active" data-toggle="pill" href="#newReq">New Request</a>
                    </li>
                    <li class="nav-item mr-5">
                        <!-- nav bar content here -->
                        <a class="nav-link" data-toggle="pill" href="#status">Status</a>
                    </li>
                    <li class="nav-item mr-5">
                        <!-- nav bar content here -->
                        <a class="nav-link" data-toggle="pill" href="#charges">Pricing</a>
                    </li>
                </ul>
            </div>

            <!-- logout button : create a form if required -->
            <button id="loginbtn" class="btn btn-logout float-right">Log Out</button>
        </div>
    </nav>

    <!-- portal image and name -->
    <header class="jumbotron" style="background-image: url('/img/jumbo.jpg'); background-size: 100%;">
        <div class="container p-5">
            <h1>MNNIT Allahabad</h1>
            <p>Portal for College documents</p>
        </div>
    </header>


    <div class="tab-content">
    <div id="newReq" class="container mt-5 tab-pane active">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card">
                    <h4 class="card-header">Preferences</h4>
                    <div class="card-body">
                        <form action="/submit" method="POST" enctype="multipart/form-data">
                            <div class="form-row form-group">
                                <label for="student" class="col-md-2 col-form-label">Student : </label>
                                <div class="col-md-10">
                                    <input type="file" accept=".json" name="student">
                                </div>
                            </div>

                            <div class="form-row form-group">
                                <label for="teacher" class="col-md-2 col-form-label">Teacher : </label>
                                <div class="col-md-10">
                                    <input type="file" accept=".json" name="teacher">
                                </div>
                            </div>

                            <div class="form-row form-group">
                                <label for="members" class="col-md-2 col-form-label">Group Members : </label>
                                <div class="col-md-10">
                                    <input type="file" accept=".json" name="members">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-md-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">Send Preferences</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementsByClassName("header").style.padding = "30px 10px";
            document.getElementById("logo").style.fontSize = "25px";
        } else {
            document.getElementById("navbar").style.padding = "80px 10px";
            document.getElementById("logo").style.fontSize = "35px";
        }
    }
</script>