<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Project Allotment Portal, MNNIT</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:100,300,400">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- for debugging css / ghost code -->
    <!-- <style>
        * { background: #000 !important; color: #0f0 !important; outline: solid #f00 1px !important; }
    </style> -->

</head>

<body>

    <!-- fixed navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
            <!-- hamburger button for smaller screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="#" class="navbar-brand __title mr-auto">
                <strong>Welcome</strong>, {{ name }}
            </a>

            <!-- navbar buttons -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="nav nav-pills row">
                    <li class="nav-item mr-5"><a class="nav-link active" data-toggle="pill" href="#pref">Preference</a></li>
                    <li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#groupMem">Group Members</a></li>
                    <li class="nav-item mr-5"><a class="nav-link disabled" data-toggle="pill" href="#groupMem">Result</a></li>
                </ul>
            </div>

            <!-- logout button : create a form if required -->
            <form class="form-inline mr-2 my-2" action="/logout" method="POST">
                <button id="loginbtn" class="btn btn-logout float-right">Log Out</button>
            </form>
        </div>
    </nav>

    <!-- portal image and name -->
    <header class="jumbotron" style="background-image: url('/static/images/jumbo.jpg'); background-size: 100%;">
        <div class="container p-5">
            <h1>MNNIT Allahabad</h1>
            <p>Portal for Project Allotment</p>
        </div>
    </header>




    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->



    <div class="container">
        <div class="row justify-content-end">
            <h5 class="text-monospace"> DEADLINE :</h5>
            <h2 class="text-primary">{date}</h2>
        </div>
    </div>



    <div class="tab-content">

        <div id="pref" class="container mt-5 tab-pane active">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div class="container" style="top: 25%; position: relative;">
                        <h3 class="text-monospace">Project Preference</h3>
                        <p class="text-muted">1 is your most prefered</p>
                    </div>
                </div>
                <div class="col-6">
                    <form action="/ConfirmSubmission" method="POST" id="prefForm">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ol id="sortable">
                                        {% for idx, project_name in project_list.items() %}
                                        <li id="r_{{idx}}" class="ui-state-default">{{project_name}}<span class="float-right justify-self-center ui-icon ui-icon-arrowthick-2-n-s"></span></li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                            <div class="row mt-4 mb-5">
                                <div class="col-12">
                                    <input hidden id="order" type="text" name="order">
                                    <button type="button" class="btn btn-primary float-right pl-5 pr-5" id="prefBtn">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="groupMem" class="container mt-5 tab-pane fade">
            <div class="row">
                <h2>Select Your Group Members</h2>
                <div class="col-12">
                    <form action="/selectMembers">
                        <div class="card-deck">

                            {% for i in range(my_group_size-1) %}
                            <div class="col-sm-12 col-md-4">
                                <div class="card shadow-lg border-dark">
                                    <div class="card-body">
                                        <h2 class="card-title">Slotter #{{i+2}}</h2>
                                        <div class="form-group">
                                            <div class="col-12">
                                                <label for="{{i+2}}_FullName">Full Name : </label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" name="{{i+2}}_fullname" id="{{i+2}}_FullName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-12">
                                                <label for="{{i+2}}_RegNo">Reg. No : </label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" name="{{i+2}}_regno" id="{{i+2}}_regno">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-12">
                                                <label for="cpi">CGPA* :</label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" name="{{i+2}}_cgpa" id="{{i+2}}_cpi">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="container">
                            <div class="row mb-5 mt-5">
                                <div class="col-12">
                                    <p class="text-muted">*As on web transcript</p>
                                    <label for="finalisebtn" class="col-form-label">Please Carefully Review before
                                        finalising, This Action is Irreversible</label>
                                    <button type="submit" class="btn btn-outline-dark btn-lg float-right shadow-lg" id="#finalisebtn">Finalise</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="result" class="container mt-5 tab-pane fade">
            <p>hello</p>
        </div>
    </div>

</body>



<!-- the order of inclusion of these files matter a lot,...do not change it -->

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/popper.js/dist/popper.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/prefDrag.js"></script>


</html>