<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Project Allotment Portal, MNNIT</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:100,300,400">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- for debugging css / ghost code -->
    <!-- <style>
        * { background: #000 !important; color: #0f0 !important; outline: solid #f00 1px !important; }
    </style> -->
</head>

<body>

    <!-- fixed navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
            <!-- hamburger button for smaller screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="#" class="navbar-brand __title mr-auto">
                <strong>Welcome</strong>, {{ name }}
            </a>

            <!-- navbar buttons -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="nav nav-pills row">
                        <li class="nav-item mr-5"><a class="nav-link" data-toggle="pill" href="#chpasswd">Change Password</a></li>
                    <li class="nav-item mr-5"><a class="nav-link disabled" data-toggle="pill" href="#" style="cursor: not-allowed;">Preference</a></li>
                    <li class="nav-item mr-5"><a class="nav-link active" data-toggle="pill" href="#result">Result</a></li>
                </ul>
            </div>

            <!-- logout button : create a form if required -->
            <form class="form-inline mr-2 my-2" action="/logout" method="POST">
                <button id="loginbtn" class="btn btn-logout float-right">Log Out</button>
            </form>
        </div>
    </nav>

    <!-- portal image and name -->
    <header class="jumbotron" style="background-image: url('/static/images/jumbo.jpg'); background-size: 100%;">
        <div class="container p-5">
            <h1>MNNIT Allahabad</h1>
            <p>Portal for Project Allotment</p>
        </div>
    </header>




    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->
    <!-- MAIN CONTENT BEGINS -->



    <div class="container">
        <div class="row justify-content-end mr-3">
            <h5 class="text-monospace mb-0"> DEADLINE: </h5>
            <h5 class="text-primary mb-0">{{DB_deadline[0]}}</h5>
        </div>
        <div class="row justify-content-end mr-3">
            <h6 class="text-secondary text-right mt-0 pt-0">{{DB_deadline[1]}}</h5>
        </div>
    </div>



    <div class="tab-content">
        <div id="result" class="container mt-5 tab-pane active">
            <div class="row justify-content-between">
                <div class="card-deck col-12">
                    <div class="card border-success">
                        <div class="card-header bg-success text-white">
                            <h4>Preference Order Submitted</h4>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-bordered m-0">
                                <thead class="thead-dark">
                                    <th scope="col" width="10%">#Pref No</th>
                                    <th scope="col">Reg. No.</th>
                                    <th scope="col">Leader Name</th>
                                    <th scope="col">CGPA</th>
                                </thead>
                                <tbody>
                                    {% for idx,usrObj in student_list.items() %}
                                    <tr>
                                        <td>{{idx}}</td>
                                        <td>{{usrObj.username}}</td>
                                        <td>{{usrObj.name}}</td>
                                        <td>{{usrObj.cpi}} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-deck col-12">
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h4>Result</h4>
                        </div>
                        {% if DB_result_declared == true %}
                        <div class="card-body">
                            {% for group in result %}
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card shadow-lg border-dark mt-5 mb-5">
                                    <div class="card-body">
                                        <h2 class="card-title">#{{loop.index}} {{group.project_name}} </h2>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <p class="text-capitalize">{{group.name}}</p>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <p class="card-subtitle">{{group.reg_no}}</p>
                                            </div>
                                            <div class="col-12 text-right">
                                                <p class="text-muted">CGPA: {{group.cpi}} </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <table class="table table-borderless m-0" style="width: 100%">
                                                    {% for mem_tuple in group.members %}
                                                    <tr>
                                                        <td width="10%" style="border-top: 1pt solid lightgray">{{mem_tuple[0]}}</td>
                                                        <td width="40%" style="border-top: 1pt solid lightgray">{{mem_tuple[1]}}</td>
                                                        <td width="50%" style="border-top: 1pt solid lightgray">{{mem_tuple[2]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="card-footer">
                            <blockquote class="blockquote text-center text-muted">Not Declared</blockquote>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-deck col-12">
                    <div class="container">
                        <div class="row justify-content-end p-5">
                            {% if DB_result_declared == true %}
                            <form action="/getSheet" method="POST">          
                                <button type="submit" class="btn btn-success">Download XLS</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="chpasswd" class="container mt-5 tab-pane fade">
                <div class="row justify-content-center">
                    <div class="card border-success">
                    <h4 class="card-header bg-success text-white">Set Password</h4>
                    <div class="card-body">
                        <div class="container">
                            <form action="/setPassword" method="POST">
                                <div class="form-group row">
                                    <div class="col-12 align-self-center">
                                        <label for="oldPass" class="col-form-label text-secondary">Old Password</label>
                                        <input type="password" name="oldPass" id="oldPass" class="form-control" required>
                                    </div>
                                    <div class="col-12 align-self-center">
                                        <label for="newPass" class="col-form-label text-secondary">New Password</label>
                                        <input type="password" name="newPass" id="newPass" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 align-self-center">
                                        <label for="confNewPass" class="col-form-label text-secondary">Confirm Password</label>
                                        <input type="password" name="confNewPass" id="confNewPass" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group row align-content-end">
                                    <div class="col-12">
                                        <span id='passMatch'></span>
                                        <input type="hidden" name="wasAt" value="controls">
                                        <button type="submit" class="btn btn-outline-success btn-block">Change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <footer class="footer bg-light">
            <div class="container">
                <div class="row justify-content-center pt-3 pl-3 pr-3 mt-5">
                    <div class="col-12 text-center">
                      <p class="text-muted">Designed and Developed By Dipunj Gupta under Dr. Suneeta Agarwal's guidance</p>
                    </div>
                </div>
                <div class="row justify-content-center mt-1">             
                    <div class="col-auto">
                        <p class="text-muted">© Copyright 2018 MNNIT Allahabad</p>
                    </div>
                </div>
            </div>
        </footer>
</body>



<!-- the order of inclusion of these files matter a lot,...do not change it -->

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/popper.js/dist/popper.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/prefDrag.js"></script>


</html>